n8n-flows/flow-02-alertas-flota.json
{
  "name": "SotoAlsur — Alertas Flota (Cron Diario)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule — Diario 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "flota_vehiculos",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "activo",
              "keyValue": "true",
              "condition": "eq"
            }
          ]
        }
      },
      "id": "supabase-query-flota",
      "name": "Supabase — SELECT flota_vehiculos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dias_hasta_itv",
              "name": "dias_hasta_itv",
              "value": "={{ Math.ceil((new Date($json.vencimiento_itv).getTime() - new Date().getTime()) / (1000 * 60 * 60 * 24)) }}",
              "type": "number"
            },
            {
              "id": "dias_hasta_seguro",
              "name": "dias_hasta_seguro",
              "value": "={{ Math.ceil((new Date($json.vencimiento_seguro).getTime() - new Date().getTime()) / (1000 * 60 * 60 * 24)) }}",
              "type": "number"
            },
            {
              "id": "marca_modelo",
              "name": "marca_modelo",
              "value": "={{ $json.marca_modelo }}",
              "type": "string"
            },
            {
              "id": "matricula",
              "name": "matricula",
              "value": "={{ $json.matricula }}",
              "type": "string"
            },
            {
              "id": "vencimiento_itv",
              "name": "vencimiento_itv",
              "value": "={{ $json.vencimiento_itv }}",
              "type": "string"
            },
            {
              "id": "vencimiento_seguro",
              "name": "vencimiento_seguro",
              "value": "={{ $json.vencimiento_seguro }}",
              "type": "string"
            },
            {
              "id": "compania_seguradora",
              "name": "compania_seguradora",
              "value": "={{ $json.compania_seguradora }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-dias-calculo",
      "name": "Set — Calcular Días Restantes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-critico",
              "leftValue": "={{ $json.dias_hasta_itv <= 7 || $json.dias_hasta_seguro <= 7 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-critico",
      "name": "IF — ¿Vencimiento Crítico? (< 7 días)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-alerta",
              "leftValue": "={{ $json.dias_hasta_itv <= 30 || $json.dias_hasta_seguro <= 30 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-alerta",
      "name": "IF — ¿Vencimiento Próximo? (< 30 días)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nivel_alerta",
              "name": "nivel_alerta",
              "value": "CRÍTICO",
              "type": "string"
            },
            {
              "id": "emoji",
              "name": "emoji",
              "value": "🔴",
              "type": "string"
            },
            {
              "id": "mensaje_itv",
              "name": "mensaje_itv",
              "value": "={{ $json.dias_hasta_itv <= 7 ? '⚠️ ITV vence en ' + $json.dias_hasta_itv + ' días (' + $json.vencimiento_itv + ')' : '✅ ITV OK' }}",
              "type": "string"
            },
            {
              "id": "mensaje_seguro",
              "name": "mensaje_seguro",
              "value": "={{ $json.dias_hasta_seguro <= 7 ? '⚠️ Seguro vence en ' + $json.dias_hasta_seguro + ' días (' + $json.vencimiento_seguro + ') - ' + $json.compania_seguradora : '✅ Seguro OK' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-critico",
      "name": "Set — Marcar como CRÍTICO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "nivel_alerta",
              "name": "nivel_alerta",
              "value": "ALERTA",
              "type": "string"
            },
            {
              "id": "emoji",
              "name": "emoji",
              "value": "🟡",
              "type": "string"
            },
            {
              "id": "mensaje_itv",
              "name": "mensaje_itv",
              "value": "={{ $json.dias_hasta_itv <= 30 ? '📅 ITV vence en ' + $json.dias_hasta_itv + ' días (' + $json.vencimiento_itv + ')' : '✅ ITV OK' }}",
              "type": "string"
            },
            {
              "id": "mensaje_seguro",
              "name": "mensaje_seguro",
              "value": "={{ $json.dias_hasta_seguro <= 30 ? '📅 Seguro vence en ' + $json.dias_hasta_seguro + ' días (' + $json.vencimiento_seguro + ') - ' + $json.compania_seguradora : '✅ Seguro OK' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-alerta",
      "name": "Set — Marcar como ALERTA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "url": "YOUR_NOTIFICATION_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.emoji + ' [' + $json.nivel_alerta + '] FLOTA SotoAlsur\\n\\nVehículo: ' + $json.marca_modelo + ' - ' + $json.matricula + '\\n' + $json.mensaje_itv + '\\n' + $json.mensaje_seguro }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-notify-critico",
      "name": "HTTP Request — Notificar CRÍTICO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "YOUR_NOTIFICATION_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.emoji + ' [' + $json.nivel_alerta + '] FLOTA SotoAlsur\\n\\nVehículo: ' + $json.marca_modelo + ' - ' + $json.matricula + '\\n' + $json.mensaje_itv + '\\n' + $json.mensaje_seguro }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-notify-alerta",
      "name": "HTTP Request — Notificar ALERTA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 500]
    }
  ],
  "connections": {
    "Schedule — Diario 08:00": {
      "main": [
        [
          {
            "node": "Supabase — SELECT flota_vehiculos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — SELECT flota_vehiculos": {
      "main": [
        [
          {
            "node": "Set — Calcular Días Restantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Calcular Días Restantes": {
      "main": [
        [
          {
            "node": "IF — ¿Vencimiento Crítico? (< 7 días)",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF — ¿Vencimiento Próximo? (< 30 días)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — ¿Vencimiento Crítico? (< 7 días)": {
      "main": [
        [
          {
            "node": "Set — Marcar como CRÍTICO",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IF — ¿Vencimiento Próximo? (< 30 días)": {
      "main": [
        [
          {
            "node": "Set — Marcar como ALERTA",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set — Marcar como CRÍTICO": {
      "main": [
        [
          {
            "node": "HTTP Request — Notificar CRÍTICO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set — Marcar como ALERTA": {
      "main": [
        [
          {
            "node": "HTTP Request — Notificar ALERTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "sotoalsur-flota",
      "name": "SotoAlsur"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
